/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #444444;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: none;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Grid Framework
   ========================================================================== */
.container{
    margin-bottom:0px;
    margin-left:auto;
    margin-right: auto;
    margin-top:0px;
    width: 1200px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
    float: left;
    margin-left:10px;
    margin-right: 10px;
}
.alpha{
    margin-left:0px;
}
.omega{
    margin-right:0px;
}
.col-1{
    width:80px;
}
.col-2{
    width:180px;
}
.col-3{
    width:280px;
}
.col-4{
    width:380px;
}
.col-5{
    width:480px;
}
.col-6{
    width:580px;
}
.col-7{
    width:680px;
}
.col-8{
    width:780px;
}
.col-9{
    width:880px;
}
.col-10{
    width:980px;
}
.col-11{
    width:1080px;
}
.col-12{
    width:1180px;
}
.col-document{
    float: left;
    margin-bottom:5px;
    margin-left:5px;
    margin-right: 5px;
    margin-top:5px;
    width:210px;
}
.col-album{
    float: left;
    margin-bottom:5px;
    margin-left:5px;
    margin-right: 5px;
    margin-top:5px;
    width:166px;
}
.prefix-1{
    padding-left:100px;
}
.prefix-2{
    padding-left:200px;
}
.prefix-3{
    padding-left:300px;
}
.prefix-4{
    padding-left:400px;
}
.prefix-5{
    padding-left:500px;
}
.prefix-6{
    padding-left:600px;
}
.prefix-7{
    padding-left:700px;
}
.prefix-8{
    padding-left:800px;
}
.prefix-9{
    padding-left:900px;
}
.prefix-10{
    padding-left:1000px;
}
.prefix-11{
    padding-left:1100px;
}
.suffix-1{
    padding-right:100px;
}
.suffix-2{
    padding-right:200px;
}
.suffix-3{
    padding-right:300px;
}
.suffix-4{
    padding-right:400px;
}
.suffix-5{
    padding-right:500px;
}
.suffix-6{
    padding-right:600px;
}
.suffix-7{
    padding-right:700px;
}
.suffix-8{
    padding-right:800px;
}
.suffix-9{
    padding-right:900px;
}
.suffix-10{
    padding-right:1000px;
}
.suffix-11{
    padding-right:1100px;
}
/* ==========================================================================
   Form Styles
   ========================================================================== */
   input{
<<<<<<< HEAD
=======
        color:#444444;
>>>>>>> 1985abc2de39bb8bfc4d4adf82dce5ad4383b1e6
        width:100%;
        margin-bottom:20px;
        height:20px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        background-color: white;
        border: 1px solid #CCC;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
        -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
        -o-transition: border linear 0.2s, box-shadow linear 0.2s;
        transition: border linear 0.2s, box-shadow linear 0.2s;
   }
   textarea{
        color:#444444;
        height:200px;
        width:100%;
        margin-bottom:20px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        background-color: white;
        border: 1px solid #CCC;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
        -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
        -o-transition: border linear 0.2s, box-shadow linear 0.2s;
        transition: border linear 0.2s, box-shadow linear 0.2s;
   }
/* ==========================================================================
   Buttons
   ========================================================================== */
   .btn{
    border-style: none;
    border-color: inherit;
    border-width: 0;
    position: relative;
    display: inline-block;
    overflow: visible;
    padding: 10px 14px;
    margin-top: 8px;
    color:#FFFFFF;
    cursor: pointer;
    outline: 0;
    background-color: #FC664C;
    background-repeat: repeat-x;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding;
    zoom: 1;
    z-index: 1;
    font-size: 14px;
    line-height: 14px;
    min-width: 42px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: inherit;
    background-image: linear-gradient(top,#FC664C,#ED6047);
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}
   .btn.big{
    height: 38px;
    font-size: 18px;
    line-height: 38px;
    padding: 20px 26px;
   }
/* ==========================================================================
   Child Dashboard
   ========================================================================== */
   html{
    background-color:#FFFFFF;
   }
   .child-dashboard #sidebar{

   }
   .child-dashboard #sidebar .foster-children,
   .child-dashboard #sidebar .menu{
    font-family: "freight-sans-pro",sans-serif;
    font-size:1em;
    font-style: normal;
    font-weight: 300;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
   }
   .child-dashboard #sidebar .foster-children .foster-child,
   .child-dashboard #sidebar .menu .menu-item{
    background-color:#909090;
    display: block;
    margin-top: 5px;
   }
   .child-dashboard #sidebar .foster-children .foster-child.selected, 
   .child-dashboard #sidebar .foster-children .foster-child:hover,
   .child-dashboard #sidebar .menu .menu-item:hover,
   .child-dashboard #sidebar .menu .menu-item.selected{
    background-color:#F04E30;
   }
   .child-dashboard #sidebar .foster-children .foster-child a,
   .child-dashboard #sidebar .menu .menu-item a{
    color:#FFFFFF;
    display: block;
    text-decoration: none;
    padding-bottom:8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top:8px;
    font-size: 20px;
    word-wrap:break-word;
   }
   .child-dashboard #content #header #foster-child-name{
    color:#F04E30;
    border-bottom:1px solid #F04E30;
    font-size:4em;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom:10px;
   }
   .child-dashboard #content #header #foster-child-image-container{
    width:146px;
    height:146px;
   }
   .child-dashboard #content #header #foster-child-image-container img{
    width:100%;
    height:auto;
   }
   .child-dashboard #content #header #foster-child-information p{
    font-weight: 300;
    color:#909090;
    margin-top:10px;
    margin-bottom:10px;
   }
   .child-dashboard #content .header-2{
    font-weight: 300;
    color:#F04E30;
    font-size:3em;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
   }
   .child-dashboard #content #important-documents .col-document{
    background-color:#909090;
    height:161px;
    position: relative;
   }
   .child-dashboard #content #important-documents .col-document .important-document-name{
    display: block;
    word-wrap:break-word;
    color:#FFFFFF;
    position: absolute;
    bottom:10px;
    left:10px;
   }
   .child-dashboard #content #albums .col-album{
    position: relative;
    text-decoration: none;
   }
   .child-dashboard #content #albums .col-album .album-asset{
    display:block;
    width:100%;
    height:auto;
   }
   .child-dashboard #content #albums .col-album .album-caption{
    display: block;
    word-wrap:break-word;
    color:#909090;
   }s
   div#content{
        color: rgb(34,34,34);
   }
   
   div#content input{
        width: 30em;	
   }
   
/* ====================================================================
    User Profile
        
============================================================================*/
   div#userProfile {
    width:50%;
   }
   div#userProfile a.editSettings {
    float:right;
   }
   div#userProfile div#profile-data div{
    border-bottom: 1px solid #EEEEEE;  
   }
   div#userProfile div#profile-data span{
    margin-right:5px;
    padding-top:3px;
    padding-bottom:3px;
    display:inline-block;
    width:115px;
   }
   
   div#userProfile div#children .foster-children{    
    font-family: "freight-sans-pro",sans-serif;
    font-size:1em;
    font-style: normal;
    font-weight: 300;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    width:350px;
   }
   div#userProfile div#children .foster-children .foster-child{
    background-color:#909090;
    display: block;
    margin-top: 5px;
   }
    div#userProfile div#children .foster-children .foster-child.selected, 
    div#userProfile div#children .foster-children .foster-child:hover{
    background-color:#F04E30;
   }
   div#userProfile div#children .foster-children .foster-child a{
    color:#FFFFFF;
    display: block;
    text-decoration: none;
    padding-bottom:4px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top:4px;
    font-size: 16px;
    word-wrap:break-word;
   }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

.row:before,
.row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.row:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.row {
    *zoom: 1;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
